html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  background-color: #222222;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.fill-parent {
  width: 100%;
  height: 100%;
}

.v-wrap {
  display: table;
}

.v-content {
  display: table-cell;
  vertical-align: middle;
}

.text-center {
  text-align: center;
}