.menu {
  padding: 0;
  margin: 0;
}

.menu__link {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 3.5rem;
}

.menu__link a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
}

.menu__link:hover {
  animation: blink-animation 0.8s steps(5, start) infinite;
  -webkit-animation: blink-animation 0.8s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}